.bg-sec {
  background-color: #c2410c;
}
.btn-c2410c {
  background-image: linear-gradient(to right, #c2410c, #f97316);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.btn-c2410c:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(194, 65, 12, 0.5);
}
.pretty-hav2:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(194, 65, 12, 0.5);
}
.bg-white {
  background-color: white !important;
}
.border-big {
  border: 20px solid #fff;
  z-index: 1;
}
.float-icon {
  z-index: 22;
}
.layer {
  position: absolute;
  width: 94% !important;
  height: 105%;
  z-index: -333;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  transform: rotate3d(1, 1, 0, 30deg) translateY(-10px);
  background: #ff4f093d;
}

.text-c2410c {
  color: #c2410c !important;
}
.btns {
  width: 30%;
}
.navbar a {
  transition: all ease 0.5s;
}
.navbar a:hover {
  color: #ff4f09 !important;
}
.navbar a.pretty-hav {
  transition: all ease 0.5s;
}
.navbar a.pretty-hav:hover {
  background-color: #e948091e;
  padding: 5px;
  border-radius: 5px;
  color: #ff4f09 !important;
}
.text-secondary {
  font-size: 12px !important;
}
.text-secondary-big {
  font-size: 15px !important;
}
.w-fit {
  width: fit-content;
}
.dropdown-menu {
  width: 75vw !important;
  left: -50px;
}
.bg-icon {
  background-color: #e948091e;
  padding: 5px;
  border-radius: 5px;
}
.text-dark {
  color: #7a2300 !important;
}
.bg-icon-opa {
  background-color: #ff6c3110 !important;
  padding: 5px;
  border-radius: 5px;
}
.droppdown a {
  text-decoration: none !important;
  color: black;
  font-size: 12px !important;
}
.gradient-text {
  background: linear-gradient(90deg, #c2410c, #ff6600, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}
.bg-grad {
  background: linear-gradient(90deg, #c2410c, #ff6600, #f97316);
  font-weight: bold;
}
.borderd-secondary {
  border: 1px solid #2222225d;
  transition: all ease 0.5s;
}
.borderd-secondary:hover {
  border-color: #c2410c;
  color: #c2410c !important;
}

.border-c2410c {
  border: 1px solid #c2410c;
}
@media screen and (max-width: 768px) {
  .btns {
    width: 100%;
  }
  .dropdown-menu {
    flex-direction: column;
    border: none;
  }
  .colmun-small {
    flex-direction: column;
  }
  .w-sm-100 {
    width: 100% !important;
  }
}
